@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 17, 17;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 214, 219, 220;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('/images/GrainBackground.png');
  background-color: rgb(var(--background-rgb));
  background-size: 200px 200px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .default-h3 {
    @apply text-base font-medium;
  }
  .default-subtitle {
    @apply text-base font-extralight;
  }
  .default-description {
    @apply text-sm font-extralight;
  }
}
